## SERVER ENVIRONMENT
APP_PORT="5001" # The port on which the application will run

## DB ENVIRONMENT
DB_URI="mongodb://localhost:27017/museun-bd?retryWrites=true&readPreference=primary"
# The connection string for the MongoDB database

## JWT ENVIRONMENT
JWT_SECRET="aajiernamddaflñkdfañdsfgkjñfakñjglPIOPEJDD"   # Secret key used for signing JSON Web Tokens (JWT)
JWT_EXPIRATION_TIME="300d"  # Expiration time in m(minutes), s(seconds), d(days) for JWT tokens
JWT_REFRESH_TOKEN_SECRET="dfadgmkrltñjriojagwpìooqfcvmiopvjakrpfdlf"  # Secret key used for signing refresh tokens
JWT_REFRESH_EXPIRATION_TIME="1000d"  # Expiration time in m(minutes), s(seconds), d(days) for refresh tokens

## ACTIVATION ENVIRONMENT
JWT_ACTIVATION_TOKEN_SECRET="adsjgkljgañljklñfgsdñljsad"  # Secret key used for activate user (JWT)
JWT_ACTIVATION_TOKEN_EXPIRATION_TIME="5m"  # Expiration time in m(minutes), s(seconds), d(days) for activation user JWT tokens

## EMAIL ENVIRONMENT
EMAIL_HOST=""  # Hostname or IP address of the SMTP server
EMAIL_PORT="465"  # Port number for the SMTP server
EMAIL_USER=""  # Username for email authentication
EMAIL_PASS=""  # Password for email authentication
EMAIL_FROM=""  # Email address for the "From" field in outgoing emails

## Frontend API URL
API_FRONT="http://localhost:4000"

